body{
    background-color: #1e1e1e;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3c3f41;
}

hr{
    height: 1px;
    background-color: #ccc;
    border: none;
}

.container {
  display: flex;
  margin-top: 80px;
  height: 100%;
}

aside {
  background-color: #46494b;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  width: 30%;
  height: 100%;
}

section {
  background-color: #46494b;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  width: 65%;
  height: 100%;
}

button{
    background-color: green;
    color: white;
}

form{
    width: 100%;
}

input{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    height: 35px;
    background-color: #404040;
}

*{
    color: white;
}